@import url('w3.css');

:root {
    --background-color: #000;
    --text-color: #fff;
    --link-color: rgb(226, 129, 255);
    --text-size: 1rem;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.highlight {
    color: var(--link-color);
}

a {
    @extend .highlight;
    text-decoration: none;
    font-size: var(--text-size);
    margin-left: 1rem;
    margin-right: 1rem;
}

p {
    color: var(--text-color);
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-size: var(--text-size);
}

p.paragraph {
    text-align: left;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.full-height {
   min-height: 600px;
   height: 100vh;
}

.full-height > div {
    width: min(750px, 95vw);
    padding: 1rem;
}
